{% autoescape off %}
Hi {{ user.get_username }},
You are receiving this email because your address was entered in the password recovery form in WheelApp application.
If you are the one who requested the recovery, please click or open the below link on your device (it will open the WheelApp application).
{% block reset_link %}
Wheelapp://password-reset/{{ uid }}/{{ token }}
{% endblock %}
If you did not request the password recovery, please ignore this email and/or consider changing your password to protect your WheelApp account.
Thank you for choosing WheelApp and helping us become better!
{% endautoescape %}
